// abs colors
$abs-black: #000000;
$abs-blue: #002233;
$abs-dark-grey: #5b6770;
$abs-green: #658d1b;
$abs-grey: #a7a8aa;
$abs-light-blue: #254a5d;
$abs-light-blue-grey: #cfd8dc;
$abs-light-grey: #ccced2;
$abs-orange: #cb6015;
$abs-red: #a72b2a;
$abs-white: #ffffff;
$abs-yellow: #d29f13;
