/* You can add global styles to this file, and also import other style files */
@import "./themes/_variables";
@import "./themes/custom";

//---------------------------------------------------------------------------------------------------------------------------------------//
// HTML ELEMENTS //

h5 {
  color: #254a5d !important;
  font-weight: 500 !important;
}

html,
body {
  height: 100%;
}
button {
  border-radius: 5px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#row-header {
  margin-bottom: 10px !important;
}

.modal-header {
  background-color: $abs-blue;
  color: $abs-white !important;
  text-align: center;
  span {
    color: $abs-white !important;
  }
}

//---------------------------------------------------------------------------------------------------------------------------------------//
// MOBILE MEDIA QUERIES

// Mobile media queries
@media screen and (max-width: 1251px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .wrp-mobile-show {
    display: block;
  }
  .wrp-mobile-hide {
    display: none;
  }
}

// Small and large computer screens
@media screen and (min-width: 1252px) {
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #ededed;
  }
  ::-webkit-scrollbar-thumb {
    background: #d8d8d8;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
  .wrp-mobile-show {
    display: none;
  }
  .wrp-mobile-hide {
    display: block;
  }
}
//---------------------------------------------------------------------------------------------------------------------------------------//
